.header-bottom p {

}

.header-bottom h1 {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 58px;
line-height: 80px;
/* or 138% */

letter-spacing: 0.2px;

/* text-color */

color: #252B42;
}

.header-bottom .auth {
    
}