h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}
.header-bottom p {

}

/*

Вес селекторов: 
!important                                                                                                                                                                                 
style=""
#id
.class
[attr=value]
LI 
\*           
                                                                                                                                                                                                
По скорости нахождения
*
#id
.cls
tag (div, span and e.t.c)
> 

По скорости применения
#id 
.cls
> 
tag (div, span and e.t.c)
*

*/

.header-bottom h1 {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 58px;
line-height: 80px;
/* or 138% */

letter-spacing: 0.2px;

/* text-color */

color: #252B42;

margin-top: 30px;
margin-bottom: 30px;
}

.header-bottom .auth {
    
}

.header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navigation ul li {
    margin-right: 20px;
}
.navigation ul li:last-child {
    margin-right: 0;
}

.navigation nav ul li a {
    /* link */

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    text-align: center;
    letter-spacing: 0.2px;

    /* second-text-color */

    color: #737373;
    text-decoration: none;
}

.join-us {
    background: #96BB7C;
    border-radius: 5px;
    border: 0;
    padding-top: 15px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.login {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #96BB7C;
    border: 0;
    background: none;
}
.header-bottom h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

     letter-spacing: 0.2px;
    
     /* second-text-color */

     color: #737373;

     margin-bottom: 30px;
}
.learn-more {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;
letter-spacing: 0.2px;

/* primary-color */

color: #96BB7C;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
border: 0;
background: none;
}

.Welcome1 {
    border: 0;
    background-color: none;
    color:#96BB7C;
}

.header-bottom{
    display: flex;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
}
